/* header start */
.header__inH1ForDiv {
  margin: 301px auto 0px auto;
}

.header__inH1ForDiv--h1 {
  font-size: 27px;
}

.header__inButton {
  padding: 8px 20px;
  font-size: 12px;
  margin-top: 40px;
}

.header__inButton:hover {
  border: 2px solid silver;
}

.header__forDotDivs {
  width: 11px;
  height: 41px;
  margin: 80px 0px 0px 88%;
}

.header__forDotDivs--dotDiv1 {
  width: 9px;
  height: 9px;
}

.header__forDotDivs--dotDiv2 {
  width: 9px;
  height: 8px;
  margin-top: 7px;
}

nav {
  margin-top: 150px;
}

.nav__inDivLeft {
  width: 23%;
  height: 60px;
  padding-top: 13px;
}

.nav__inDivRight {
  width: 77%;
  height: 60px;
  padding: 20px 0px 0px 28px;
}

.nav__inDivLeft--divForF {
  width: 32px;
  height: 32px;
  padding-top: 3px;
}

.nav__inDivLeft--img {
  width: 90px;
  height: 20px;
  margin: 7px 0px 0px 10px;
}

.nav__inDivRight--link {
  font-size: 9.8px;
  margin-left: 2%;
}

.nav__inDivRight--link:hover {
  color: #2ecc71;
}
/* header end */

/* section1 start */
.section1__inDiv--h2 {
  font-size: 20px;
  margin-top: 90px;
}

.section1__inDiv--p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 90px;
}
/* section1 end */

/* section2 start */
.section2__divRight {
  width: 65%;
  padding: 50px 0px 55px 50px;
}

.section2__divRight--divTop--h2 {
  font-size: 20px;
}

.section2__divRight--divTop--p {
  font-size: 14px;
  margin-top: 20px;
}

.section2__divRight--divBottom--divQuaternary--divForIcon {
  width: 20%;
  height: 125px;
}

.section2__divRight--divBottom--divQuaternary--divForWrite {
  width: 80%;
  height: 125px;
  padding-right: 20px;
}

.section2__divRight--divBottom--divQuaternary--divForIcon > img {
  width: 25px;
  height: 25px;
}

.section2__divRight--divBottom--divQuaternary--divForWrite > h3 {
  font-size: 11.5px;
}

.section2__divRight--divBottom--divQuaternary--divForWrite > p {
  font-size: 13px;
  line-height: 20px;
}
/* section2 end */

/* section3 start */
.section3__inDivLeft {
  padding: 90px 20px 0px 0px;
}

.section3__inDivRight {
  padding: 130px 0% 90px 5%;
}

.section3__inDivLeft--h2 {
  font-size: 20px;
}

.section3__inDivLeft--p {
  font-size: 14px;
}

.section3__inDivLeft--button {
  padding: 8px 15px;
  font-size: 12px;
  margin-top: 40px;
}

.section3__inDivRight--h3 {
  font-size: 15px;
}

.section3__inDivRight--divForLoading--div90percent,
.section3__inDivRight--divForLoading--div80percent,
.section3__inDivRight--divForLoading--div70percent {
  font-size: 14px;
}
/* section3 end */

/* section4 start */
.section4__h2 {
  font-size: 20px;
}

.section4__p {
  font-size: 14px;
}

.section4_button {
  padding: 7px;
  font-size: 12px;
}
/* section4 end */

/* section5 start */
.section5__divLeft {
  padding: 95px 35px 0px 0px;
}

.section5__divRight {
  padding: 165px 0px 0px 35px;
}

.section5__divLeft--h2 {
  font-size: 20px;
}

.section5__divLeft--p {
  font-size: 14px;
}

.section5__divRight--h3 {
  font-size: 15px;
}

.section5__divRight--span {
  font-size: 12px;
}

.section5__divRight--divGreen {
  width: 25%;
  height: 25px;
  font-size: 13px;
  padding-top: 5px;
}

.section5__divRight--p {
  font-size: 14px;
}
/* section5 end */

/* section6 start */
.secton6__p {
  font-size: 15px;
  line-height: 30px;
}

.section6__span {
  font-size: 16px;
}
/* section6 end */

/* section7 start */
.section7__h2 {
  font-size: 20px;
}

.section7__p {
  font-size: 15px;
}
/* section7 end */

/* section8 start */
.section8_nineDiv1,
.section8_nineDiv2,
.section8_nineDiv3,
.section8_nineDiv4,
.section8_nineDiv5,
.section8_nineDiv6,
.section8_nineDiv7,
.section8_nineDiv8,
.section8_nineDiv9 {
  height: 200px;
}

.section8_nineDiv1 {
  padding: 3.5% 0% 0% 3.5%;
}

.section8_nineDiv1--h3 {
  font-size: 12px;
  margin-bottom: 20px;
}

.section8_nineDiv1--link {
  font-size: 11px;
  margin-top: 10px;
}

.section8_nineDiv2:hover,
.section8_nineDiv3:hover,
.section8_nineDiv4:hover,
.section8_nineDiv5:hover,
.section8_nineDiv6:hover,
.section8_nineDiv7:hover,
.section8_nineDiv8:hover,
.section8_nineDiv9:hover {
  cursor: pointer;
}

.section8_nineDiv1--link:hover {
  color: #ffffff;
}
/* section8 end */

/* section9 start */
.section9__divLeft {
  padding: 90px 5% 0px 0%;
}

.section9__divRight {
  padding: 135px 0% 90px 5%;
}

.section9__divLeft--h2 {
  font-size: 20px;
}

.section9__divLeft--p {
  font-size: 15px;
}

.section9__divLeft--span {
  font-size: 15px;
}

.section9__divLeft--span--span {
  color: #919191;
}

#section9__divRight--form--label {
  font-size: 14px;
}

#section9__divRight--form--input2 {
  height: 200px;
}

.section9__divRight--button {
  padding: 10px 25px;
  font-size: 14px;
}
/* section9 end */

/* footer start */
.footer__span {
  font-size: 16px;
}

.footer__divForIcons {
  width: 40%;
}
/* footer end */
